<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= @title %></title>

    <link rel="stylesheet" href="assets/styles/layout.css" media="all">
    <link rel="stylesheet" href="assets/styles/github-markdown.css" media="all">
    <link rel="stylesheet" href="assets/styles/pygments.css" media="all">
  </head>
  <body>
    <header>
      <h1>Estágio em Programação — Exercícios</h1>
    </header>
    <div class="markdown-body">
      <%= @markdown %>
    </div>
  </body>
</html>
